@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

a {
	color: inherit;
	text-decoration: none;
}

body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	background-color: #efefef;
}

.con-min-width {
	min-width: 320px;
}

.con {
	max-width: 1100px;
}

.con {
	margin: 0 auto;
}

.flex {
	display: flex;
}

.flex-jc-c {
	justify-content: center;
}

.flex-ai-c {
	align-items: center;
}

.flex-jc-sb {
	justify-content: space-between;
}

.flex-jc-ar {
	justify-content: space-around;
}

.flex-column {
	flex-direction: column;
}

.flex-grow-1 {
	flex-grow: 1;
}

.height-100p {
	height: 100%;
}

.width-100p {
	width: 100%;
}

.bd-red {
	border: 2px solid red;
}

.wrapper {
	min-height: 100vh;
}

.top {
	background: #44A08D; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #093637, #44A08D);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #093637, #44A08D);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.top-logo {
	color: white;
	font-size: 40px;
}
/* 탑바 시작 */
.plannet {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	display: inline-block;
	transition: all 2s;
}

.top-logo:hover .plannet {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.tree {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.fa-pagelines {
	color: #43C6AC;
}

.logo-small {
	font-size: 30px;
}

.logo-small:hover .plannet {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.top-menu {
	margin-top: 20px;
}

.top-menu>ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: -10px;
}

.top-menu>ul>li {
	width: 100%;
	text-align: center;
	position: relative;
}

.join {
	font-family: 'LotteMartDream';
	font-size: 15px;
	margin-left: 20px;
}

.join>a:hover {
	color: red;
}

.login {
	font-family: 'LotteMartDream';
	font-size: 15px;
	margin-left: 20px;
}

.login>a:hover {
	color: red;
}

.top-menu ul>li>a {
	font-family: 'LotteMartDream';
	display: block;
	font-size: 20px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.top-menu ul>li:hover>a {
	color: black;
	background-color: white;
}

.top-menu>ul>li:hover>a {
	border-radius: 10px 10px 0 0;
}

.top-menu>ul>li:hover>ul {
	display: block;
}

.top-menu>ul>li>ul {
	background-color: black;
	width: 100%;
	border: 10px solid black;
	border-top: 0;
}

.top-menu>ul>li>ul>li:last-child:hover>a {
	border-radius: 0 0 10px 10px;
}

/* 메인 화면 */
.sentence-name {
	font-size: 25px;
}

.sentence-name>span {
	margin-top: 20px;
}

.sentence-content {
	margin-top: 50px;
	height: 100%;
	text-align: center;
	background-color: white;
	border: 2px solid skyblue;
	border-radius: 10px;
}

.sentence-content>span {
	font-size: 35px;
	display: inline-block;
	height: 80px;
	line-height: 80px;
	vertical-align: middle;
}
/* 메인 화면 */

/* 탑바 끝 */
.middle {
	font-family: 'LotteMartDream';
	margin: 10px 0 0 10px;
	position: relative;
}

/* 바텀 시작 */
.bottom {
	font-family: 'LotteMartDream';
	background: #44A08D; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #093637, #44A08D);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #093637, #44A08D);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	height: 100px;
}

.section {
	width: 100%;
}

.logo-small .tree {
	margin-left: 10px;
}
.logo-small{
	width : 100%;
}
.section-1 {
	width : 250px;
}
.section-2 {
	margin-left: 20px;
	text-align: center;
	width : 100%;
}

.move {
	display: flex;
	align-items: flex-end;
	margin-top: 100px;
	margin-bottom: 100px;
}

.제목 {
	margin-top: 25px;
	font-size: 30px;
}

.내용 {
	margin-top: 40px;
}

.next {
	margin-left: 10px;
}

.분류1 {
	display: inline-block;
	padding: 0 10px;
	border: 1px solid black;
	border-top: 2px solid black;
}

.분류1 span {
	display: inline-block;
}

.분류1:first-child {
	border-right: 1px solid black;
}

.분류1:not(:first-child ) {
	border-right: 1px solid black;
	border-left: 1px solid black;
}

.분류1:last-child {
	border-right: 2px solid black;
}

.분류1 {
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}

.분류-번호 {
	min-width: 30px;
	text-align: center;
	border-left: 2px solid black;
}

.분류-작성일 {
	min-width: 200px;
	text-align: center;
}

.분류-작성자 {
	min-width: 100px;
	text-align: center;
}

.분류-제목 {
	min-width: 200px;
	text-align: center;
}

.분류-조회수 {
	min-width: 60px;
	text-align: center;
}

.분류-추천수 {
	min-width: 60px;
	text-align: center;
}

.리스트 {
	display: inline-block;
	padding: 0 10px;
	border: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.리스트-번호 {
	min-width: 30px;
	text-align: center;
	border-left: 2px solid black;
}

.리스트-작성일 {
	min-width: 200px;
	text-align: center;
}

.리스트-작성자 {
	min-width: 100px;
	text-align: center;
}

.리스트-제목 {
	width: 200px;
	text-align: left;
}

.리스트-제목 a {
	display: inline-block;
	width: 140px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.리스트-조회수 {
	min-width: 60px;
	text-align: center;
}

.리스트-추천수 {
	min-width: 60px;
	text-align: center;
}

.리스트-댓글수 {
	min-width: 60px;
	text-align: center;
}

.리스트:not(:first-child ) {
	border-right: 1px solid black;
	border-left: 1px solid black;
}

.리스트:last-child {
	border-right: 2px solid black;
}

.리스트:first-child {
	border-right: 1px solid black;
}

.리스트-리스트>.리스트 {
	height: 20px;
}

.리스트-리스트>.리스트>a, .리스트-리스트>.리스트>span {
	display: inlinc-block;
	line-height: 20px;
	vertical-align: middle;
}

.리스트-리스트>.리스트 {
	border-bottom: 2px solid black;
}

.리스트-제목:hover, .리스트-작성자:hover {
	text-decoration: underline;
}

.other {
	margin-bottom: 50px;
}

.page-box {
	margin-top: 20px;
}

.page>a {
	display: inline-block;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
	border: 1px solid transparent;
	padding-left: 0;
	padding-right: 0;
	height: 30px;
	min-width: 30px;
	padding-left: 0;
	padding-right: 0;
}

.page {
	margin: 0 15px;
}

.page:hover>a {
	border-color: #afafaf;
	text-decoration: underline;
}

.article-page-menu__link--selected {
	color: red;
}

/* 로그인 페이지*/
ul, li, body {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.bd-red {
	border: 1px solid red;
}

.height-100p {
	height: 100%;
}

.loginpage {
	height: 100%;
	position: absolute;
	margin-top: 20%;
	left: 50%;
	transform: translateX(-50%);
	width: 400px;
	height: 300px;
	border: 2px solid #73B3ED;
	background-color: #dfdfdf;
	position: relative;
}

.loginpage__top-logo {
	height: 30px;
	text-align: center;
	background-color: skyblue;
	position: relative;
}

.icon>img {
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-left: 10px;
	position: absolute;
	top: 1px;
}

.loginpage__top-logo>span {
	line-height: 30px;
	vertical-align: middle;
	font-size: 20px;
	cursor: default;
}

.loginpage__textbox {
	margin-top: 20%;
	margin-left: 30px;
	width: 260px;
	position: relative;
}

.loginpage__textbox>form {
	position: absolute;
	top: 0;
	right: 0;
}

.password {
	margin-left: 30px;
	margin-top: 10px;
}

.loginpage__textbox form {
	margin-left: 20px;
	display: inline-block;
}

.login-button>button {
	height: 60px;
	width: 80px;
	position: absolute;
	top: 35%;
	right: 4%;
	cursor: pointer;
	background: #457fca; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #5691c8, #457fca);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #5691c8, #457fca);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border: 0;
	color: white;
	font-size: 17px;
	letter-spacing: 2px;
}

.checkbox {
	margin-top: 35px;
	text-align: center;
}

.login-hold {
	margin-left: 10px;
}

.id_password {
	margin-top: 30px;
	text-align: center;
}
/* 로그인 페이지 */

/* 회원가입 페이지 */
.bd-red{
  border: 2px solid red;
}
.join__section{
  height : 30px;
  margin-top : 40px;
  border-bottom : 2px solid darkblue;
}
.join__box{
  margin-top : 30px;
  border : 2px solid #cecdce;
  border-radius : 5px;
}
.join__box > *{
  margin-left : 20px;
}
.join__text{
  position : relative;
  margin-top : 15px;
}
.join__textbox{
  display : inline-block;
  position : absolute;
  top: 9px;
}
.join__text form{
  display : inline-block;
  margin-left : 20%;
}
.join__section form>input{
  height : 35px;
  width: 400px;
  font-size : 17px;
}
.limit{
  font-size : 14px;
  color : #999;
}
.join__password p{
  line-height : 8px;
}
.limit_pass{
  color : black;
  font-weight : bold;
}
.join__check{
  font-size : 13px;
  margin-left : 15px;
  position : relative;
}
.join__check::before{
  content : "";
  height : 10px;
  width : 9px;
  background-image : url(https://nstatic.dcinside.com/dc/w/images/checkbox.png);
  background-repeat : no-repeat;
  background-size : 10px 8px;
  position : absolute;
  top : -1px;
  left : -15px;
  z-index : 1;
}
.join__check::after{
  content : "";
  position : absolute;
  top : -4px;
  left : -17px;
  height : 14px;
  width : 14px;
  background-color : #ccc;
  border-radius : 50%;
}
.join__birth>form>input{
  width : 150px;
  text-align : center;
}
select{
  height : 40px;
}
select>option{
	text-align:center;
}
/* 회원가입 페이지 */