/* 메인 화면 */
.sentence-name {
	font-size: 25px;
}

.sentence-name>span {
	margin-top: 20px;
}

.sentence-content {
	margin-top: 50px;
	height: 100%;
	text-align: center;
	background-color: white;
	border: 2px solid skyblue;
	border-radius: 10px;
}

.sentence-content>span {
	font-size: 35px;
	display: inline-block;
	height: 80px;
	line-height: 80px;
	vertical-align: middle;
}
/* 메인 화면 */
